[Desktop Entry]
Version=1.1
Type=Application
Name=Naruto Online
Comment=使用 Flash PPAPI 运行 Naruto Online
GenericName=游戏启动器
Exec=naruto-online %U
Icon=naruto-online
Terminal=false
StartupNotify=true
StartupWMClass=Naruto Online
Categories=Game;RolePlaying;
Keywords=game;naruto;flash;browser;mmo;anime;rpg;
